{* Template for rendering the phone section of an admin page *}

<div style="margin-bottom: 50px">
                    
    <fieldset>
        <legend>ACRONYM Options</legend>

        <div style="text-align: center;">
                    {{ ACR_INFO|table_list }}
        </div>    
    </fieldset>

</div>

<script type="text/javascript">
    YAHOO.util.Event.onDOMReady(function() {

        var activeTab = '**********************************************';

        updateInfo = function(mode) {

            /**/
            // Added email validation on the client side
            // TODO: Find a better implementation. 
            var validateForm = function(){
                var msgError = "Invalid email format. Please check and try again.";
                var val = $(this.form).find('input#*****************').val();
                
                // Edit mode is for email
                if(mode == '0'){
                    if ( /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(val) )  
                    {  
                        return true;
                    } else {
                        YAHOO.bigapp.showSimpleDialog(msgError, "Invalid input", YAHOO.widget.SimpleDialog.ICON_BLOCK);
                        return false;    
                    }
                // Bypass for phone validation (done on backend)
                } else {
                    return true;
                }
            };

            var titles =  ['Email', 'Phone 1', 'Phone 2'];

            YAHOO.bigapp.showFormDialog(
                '**********/*************/show-update-form/' + {{ C_ID }} + '/' + {{ U_ID }} + '/' + mode,
                /* Config */
                {
                    width: '600px',
                    height: '140px',
                    title: 'Update ' + titles[mode],
                    fixedcenter: true,
                    buttons: [                        
                        { 
                            text: 'Cancel',
                            handler: function() {
                                this.hide();
                            }                            
                        },
                        {
                            text: 'Save',
                            handler: function() { 
                                this.submit(); 
                            },
                            isDefault: true
                        }
                    ]
                },
                /* Callback */
                {
                    success: function(data) {

                        var response = YAHOO.lang.JSON.parse(data.responseText);

                        if (response.status == 'success' || response.status == 200) {
                            YAHOO.bigapp.showSimpleDialog(
                                'Info updated!', 
                                "Success", 
                                YAHOO.widget.SimpleDialog.ICON_INFO
                            );

                            this.hide();
                            $(activeTab).trigger('click');
                            
                        } else {
                            YAHOO.bigapp.showSimpleDialog(
                                response.message, 
                                "Failed", 
                                YAHOO.widget.SimpleDialog.ICON_WARN
                            );
                            return;
                        }                    
                    }
                },
                /* Validation */
                validateForm
            );
            return false;
        };
    });
</script>